@media only screen and (min-width: 992px) {
  .navbar-light {
    padding: 0em 0em;
  }
  .navbar-light .navbar-brand {
    padding: 0em 2em;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 1.5em 0em;
    margin: 0em 1em;
  }
}

.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 2px solid #4da6e7;
}
