gunicorn==20.1.0
flask==2.2.5
newspaper3k==0.2.8
opentelemetry-instrumentation-requests==0.41b0
opentelemetry-instrumentation-flask==0.38b0
nltk==3.8.1
opentelemetry-exporter-jaeger==1.15.0
prometheus-flask-exporter==0.21.0