gunicorn==20.1.0
flask==2.2.2
newspaper3k==0.2.8
nltk==3.7
opentelemetry-instrumentation-flask==0.36b0
opentelemetry-instrumentation-requests==0.36b0
opentelemetry-exporter-jaeger==1.15.0
prometheus-flask-exporter==0.21.0